@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, autumn;
}

:root {
  --lg: 1024px;
}

body {
  font-family: "DM Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.hero-banner {
  padding: 4rem 1rem;
}

.hero-banner__content {
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1553px;
}

.hero-banner__logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.hero-baner__image {
  border-radius: 15px;
  max-height: 500px;
  width: auto;
  margin: 0 auto;
}

.hero-banner__title {
  font-size: 3rem;
  font-weight: 700;

  @media (min-width: 640px) {
    font-size: 5rem;
  }

  @media (min-width: 1024px) {
    font-size: 8rem;
  }
}

.block-title span {
  background: linear-gradient(90deg, #43FFEC 0%, #FFB84D 50%, #FF0080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.album {
  max-width: 2048px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.album__item {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 900px;
  max-width: 100%;
}

.album__image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid #fff;
}

.album-cover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.album-cover__content {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 3rem;
}

.album-cover:hover .album-cover__content {
  opacity: 1;
}

.album-cover__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, #43FFEC 0%, #FFB84D 50%, #FF0080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 10;
  overflow: auto;
}

.content-popup__close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: black;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.content-popup__close:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-grid__item {
  margin-bottom: 10px;
}

.content-grid {
  columns: 400px;
}