@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Titillium+Web:wght@300;400&display=swap');/*
 * Some defaults are based on inherit
 *
 * Why inherit ?
 * If you have a component and his children not using border-box for example:
 *
 * Without inherit you might need
 * .Component, .Component * { box-sizing: content-box }
 *
 * With inherit you can just write
 * .Component { box-sizing: content-box }
 *
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *//*
 * Repeating the background mostly makes sense in the <body>. Otherwise, people
 * usually want the image and preferably its center (not the top-right corner)
 */*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}/*
 * tables borders like they should be
 * applied to * to also works for display: table;
 */html {border-collapse: collapse}* {border-collapse: inherit}/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */html {box-sizing: border-box}*,
*:before,
*:after {
  box-sizing: inherit;
}/*
 * kill document defaults margin & padding. We all do that all the times, right ?
 */html,
body {
  margin: 0;
  padding: 0;
}/*
 * Makes the hidden attribute works even when an element is styled display: flex
 * http://lists.w3.org/Archives/Public/public-whatwg-archive/2014May/0001.html
 */[hidden] {display: none !important}:root {
  --color-blue: #70D6FF;
  --color-pink: #FF70A6;
  --color-orange: #FF9770;
  --color-yellow: #FFD670;
  --color-green: #E9FF70;
  --color-primary: var(--color-pink);
  --color-secondary: var(--color-blue);
  --bg-color: var(--color-primary); 
}.bg {
  background-color: var(--bg-color);
}.bg--orange {
    --bg-color: var(--color-orange);
  }.bg--yellow {
    --bg-color: var(--color-yellow);
  }.bg--primary {
    --bg-color: var(--color-primary);
  }.bg--secondary {
    --bg-color: var(--color-secondary);
  }.bg--blue {
    --bg-color: var(--color-blue);
  }.bg--pink {
    --bg-color: var(--color-pink);
  }.bg--green {
    --bg-color: var(--color-green);
  }.hide {
  display: none;
}@media (max-width: 1023px) {.hide--mobile {
      display: none !important
  }
    }@media (min-width: 1024px) {.hide--desktop {
      display: none !important
  }
    }.offer-icon {
  position: relative;
}.offer-icon:after {
    /* position: absolute; */
    left: -60px;
    content: '';
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background: transparent url('./images/offer.gif') no-repeat center center;
    background-size: 100%;
  }body {
  font-family: 'Alkatra', cursive;
}h1,
h2,
h3,
.button,
h4 {
  font-family: 'Titillium Web', sans-serif;
}body {
  font-size: 1.25rem;
}.background-animate {
  background-size: 400%;
  animation: AnimationBg 10s ease infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 1;
  background-image: linear-gradient(to right, var(--bg-color) , black);
}@keyframes AnimationBg {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(0px);
	}
	17% {
	    opacity: 1;
	    transform: scale(1);
	}
	19% { opacity: 0 }
	25% {
	    opacity: 0;
	    transform: scale(10);
	}
	100% { opacity: 0 }
}.button {
  display: inline-block;
  background-size: 400%;
  animation: AnimationBg 5s ease infinite;
  background-image: linear-gradient(to right, var(--color-primary) , var(--color-secondary));
  color: white;
  padding: 5px 20px;
  min-width: 250px;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  border-radius: 15px 0px 20px 0px;
  transition: all 1s;
}.button:hover {
    background: var(--color-primary);
  }.slide {
  position: relative;
}.slide__items {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }.slide__item {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
  }.slide__item:nth-child(1) {
        animation-delay: 0s;
      }.slide__item:nth-child(2) {
        animation-delay: 6s;
      }.slide__item:nth-child(3) {
        animation-delay: 12s;
      }.slide__item:nth-child(4) {
        animation-delay: 18s;
      }.slide__item:nth-child(5) {
        animation-delay: 24s;
      }.slide__item:nth-child(6) {
        animation-delay: 30s;
      }.slide__item:nth-child(7) {
        animation-delay: 36s;
      }.slide__item:nth-child(8) {
        animation-delay: 42s;
      }.slide__item:nth-child(9) {
        animation-delay: 48s;
      }.slide__item:nth-child(10) {
        animation-delay: 54s;
      }.slide__item:nth-child(11) {
        animation-delay: 60s;
      }.slide__item:nth-child(12) {
        animation-delay: 66s;
      }.slide__item:nth-child(13) {
        animation-delay: 72s;
      }.slide__item:nth-child(14) {
        animation-delay: 78s;
      }.slide__item:nth-child(15) {
        animation-delay: 84s;
      }.slide__item:nth-child(16) {
        animation-delay: 90s;
      }.slide__item:nth-child(17) {
        animation-delay: 96s;
      }.slide__item:nth-child(18) {
        animation-delay: 102s;
      }.slide__item:nth-child(19) {
        animation-delay: 108s;
      }.slide__item:nth-child(20) {
        animation-delay: 114s;
      }.slide__title {
    font-size: 50px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
  }.slide__desc {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    max-width: 800px;
    background: rgba(0,0,0,.4);
    padding: 10px;
    border-radius: 10px;
  }.slide__content {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 10;
  }.slide:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    content: '';
    background: transparent url('./images/pattern.png') repeat top left;
  }@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}.nav {
  position: fixed;
  z-index: 11;
}@media (max-width: 1023px) {.nav {
    bottom: 5px;
    right: 5px
}
  }@media (min-width: 1024px) {.nav {
    top: 0px;
    left: 0px
    /* bottom: 5px;
    right: 5px; */
}
  }.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }@media (min-width: 1024px) {.nav__list {
      display: flex;
      padding-left: 20px
  }
    }.nav__item {

  }.nav__link {
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }@media (min-width: 1024px) {.nav__link {
      padding-right: 20px
  }
    }.nav__link:before {
      content: "";
      width: 8px;
      height: 8px;
      background: white;
      display: block;
      position: absolute;
      left: -4px;
      bottom: 50%;
      margin-bottom: -4px;
      transition: all 0.3s;
    }.nav__link:hover:before {
        bottom: 10px;
        width: 39px;
        height: 1px;
        left: 5px;
      }
